{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
	{{ wtf.quick_form(form) }}
	{% if summary %}
	<p>
	{{ summary }}
	</p>
	{% endif %}
</div>
{% endblock %}


